.frame {
    max-width: 326px;
    width: 100%;
    height: 316px;
    margin-top: 187px;
    margin-bottom: 151px;
}
.img-waiter {
    max-width: 809px;
    width: 100%;
    height: 809px;
    margin-top: 43px;
}
.div-row {
    max-width: 1447px;
    width: 100%;
}
.icons {
    width: 75px;
    height: 100px;
}
